* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 221, 221);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* **** ÁREA HEADER **** */

header{
    background-color:black
}


/* **** ÁREA DE NAVEGAÇÃO **** */

nav {
    background-color: black;
    border: 2px solid white;
    padding: 20px;
    margin: 0 auto;
    clear: both;
    text-align: center;
}
 nav > a {
    color: white;
    text-decoration: none;
    margin: 20px;
 }

 nav > a:hover {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    color: black;
    font-size: 1.3em;
    
 }

.logo {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;

}

.logoimg{
    width: 200px;
    height: 200px;
}

/* *** ÁREA DO FILTRO **** */

.filtro {
    background-color: white;
    border: 1px solid gray;
    color: black;
    width: 130px;
    height: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.filtro ul {
    list-style: none;
    color: black;
    width: 130px;
    padding: 10px 0 10px 0;
    margin: 0;
    
}

.filtro ul li {
    background-color: white;
    color: black;
    width: 130px;
    padding: 10px 0 10px 0;
    margin: 0;
   
}

.filtro ul a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
   
}

.filtro li ul li:hover {
    background-color: black;

}

.filtro ul li ul li a:hover {
    color: white;
}

.filtro li ul {
    display: none;
    margin: 0;
    width: 0;
}

.filtro ul > li:hover ul {
    display: block;
}

/* **** ÁREA MAIN **** */

section {
    display: flex;
    flex-wrap: wrap;
}

.tamimgitens {
    width: 700px;
    height: 600px;
}

.descricao {
    width: 900px;
    text-align: center;
    padding: 30px;  
}

.descricao h1 {
    padding: 20px;
}

.descricao p{
    padding: 20px;
    text-align: justify;
} 

.pagamento {
    width: 300px;
}

#form {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 30px auto;
    width: 500px;
    height: 350px;
    padding: 30px;
}

input {
    width: 400px;
    margin: 10px;
    height: 25px ;
}

.cadastro {
    padding: 5px;
    
}
button {
    
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 5px; 
}

/* **** ÁREA FOOTER *** */

.footer {
    clear: both;
    text-align: center;
    background-color: black;
    margin-top: 30px;
    color: white;
}

.controdape {
    display: flex;  
    text-align: center;
    width:600px;
    margin: 0 auto; 
    
}

.controdape p {
    margin: 20px;
    text-decoration: none;
    color: white;
    
}
.controdape p a {
   
    text-decoration: none;
    color: white;  
}

.controdape p a:hover {
   
    text-decoration: underline;
    font-size: 1.3em;
}


.controdape ul li {
    list-style: none;
    padding: 5px;
}

.controdape ul li a {
    text-decoration: none;
    color: white;
}

.controdape ul li a:hover {
    text-decoration: underline;
    font-size: 1.3em;
}