/* **** FORMATAÇÕES DE PÁGINA *** */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 221, 221);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* **** ÁREA HEADER **** */

header{
    background-color:black
}


/* **** ÁREA DE NAVEGAÇÃO *** */

nav {
    background-color: black;
    border: 2px groove white;
    padding: 5%;
    margin: 0 auto;
    clear: both;
    text-align: center;
    font-size: 70%;
    
}
 nav > a {
    color: white;
    text-decoration: none;
    margin: 0 auto;
    padding: 1%;
   
    

 }

 nav > a:hover {
    background-color: white;
    border-radius: 5px;
    padding: 30%px;
    color: black;
    font-size: 100%;
 }

.logo {
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;

}

.logoimg{
    width: 200px;
    height: 200px;
}



.filtro ul > li:hover ul {
    display: block;
}


/* **** ÁREA MAIN **** */

section {
    display: flex;
    flex-wrap: wrap;
}

.tamimgitens {
    width: 700px;
    height: 600px;
}

.descricao {
    width: 900px;
    text-align: center;
    padding: 30px;  
}

.descricao h1 {
    padding: 20px;
}

.descricao p{
    padding: 20px;
    text-align: justify;
} 

.pagamento {
    width: 300px;
}

#form {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 30px auto;
    width: 500px;
    height: 350px;
    padding: 30px;
}

input {
    width: 400px;
    margin: 10px;
    height: 25px ;
}

.cadastro {
    padding: 5px;
    
}
button {
    
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    margin-top: 5px; 
}

/* ***** Área do Rodapé ***** */

.footer {
    clear: both;
    text-align: center;
    background-color: black;
    margin-top: 30px;
    color: white;
    display: flex;
}

.controdape {
    display: flex;  
    text-align: center;
    width:50%;
    margin: 0 auto; 
    
}

.controdape p {
    margin: 5%;
    text-decoration: none;
    color: white;
    font-size: 80%;
    
}
.controdape p a {
   
    text-decoration: none;
    color: white; 
    font-size: 80%; 
}

.controdape p a:hover {
   
    text-decoration: underline;
    font-size: 100%;
}


.controdape ul li {
    list-style: none;
    padding: 2%;
    font-size: 80%;
}

.controdape ul li a {
    text-decoration: none;
    color: white;
}

.controdape ul li a:hover {
    text-decoration: underline;
    font-size: 100%;
}

