/* **** FORMATAÇÕES DE PÁGINA *** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* **** ÁREA HEADER **** */

header{
    background-color:black
}

h1 {
    background-color: black;
    color: white;
    padding-bottom: 2px;
}

span{
    background-color: white;
    color: black;
    border: 1px solid white;
}

nav {
    border-bottom: 1px solid black;
}

/* **** ÁREA MAIN **** */

.container_principal {
    background-color: #e6e6e6;
    border: 1px solid green;
    width: 1400px;
    margin: 0 auto;
    padding-top: 5px;
    display: flex;
}

.container1 {
    background-color: white;
    border: 1px solid red;
    margin: auto;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.produtos {
    text-align: center;
    width: 350px;
    height: 300px;
    padding: 1%;
    margin: 2%;
    border-bottom: 1px solid rgb(163, 162, 162) ;
    border: 1px solid black;
}

.tamanhoImg {
    width: 200px;
    height: 250px 
}

/* ***** Área do Rodapé ***** */

#rodape {
    clear: both;
    text-align: center;
    background-color: gray;
}