
body {
    background-color: #e6e6e6;
    text-align: center;
}

/* **** Cabeçalho ***** */

#header{
background-color: black;
color: white
}

/* ***** Área postagens ***** */ 

#area_postagens1{
    
    width: 70%;
    margin: 
    padding: 20px;
    display: flex;
}


.produtos {
    text-align: center;
    width: 350px;
    padding: 20px;
    margin: 5%;
    border-bottom: 1px solid rgb(163, 162, 162) ;
    border: 1px solid red;
}

.tamanhoImg {
    width: 200px;
    height: 320;   
}


/* ***** Área do Rodapé ***** */

#rodape {
    clear: both;
    text-align: center;
    background-color: gray;
}